stripe
urllib3
requests
pytz
django
django-configurations
django-stubs[compatible-mypy]
gunicorn
Pillow
git+https://github.com/jazzband/django-newsletter.git#egg=django-newsletter
git+https://github.com/jazzband/django-cookie-consent.git#egg=django-cookie-consent
sorl-thumbnail
django_compressor
django_user_agents
